name: Publish

on:
    push:
        tags:
            - "v*"

env:
    CARGO_INCREMENTAL: 0
    CARGO_TERM_COLOR: "always"
    RUST_LOG: "off"

jobs:
    wasm-build:
        name: Wasm build
        runs-on: ubuntu-latest
        strategy:
            matrix:
                crate: &all_crates
                    - "biome_fmt"
                    - "graphql_fmt"
                    - "json_fmt"
                    - "malva_fmt"
                    - "markup_fmt"
                    - "oxc_fmt"
                    - "web_fmt"
        steps:
            - uses: actions/checkout@v6
            - uses: taiki-e/install-action@v2
              with:
                  tool: wasm-pack,just
            - name: Build ${{ matrix.crate }} wasm
              run: just build ${{ matrix.crate }}
            - name: Package ${{ matrix.crate }}
              working-directory: crates/${{ matrix.crate }}/pkg
              run: npm pack
            - name: Upload ${{ matrix.crate }}
              uses: actions/upload-artifact@v6
              with:
                  name: ${{ matrix.crate }}
                  path: |
                      crates/${{ matrix.crate }}/pkg
                      crates/${{ matrix.crate }}/README.md

    publish-npm:
        if: startsWith(github.ref, 'refs/tags/v')
        runs-on: ubuntu-latest
        permissions:
            id-token: write
        strategy:
            matrix:
                crate: *all_crates
        needs: wasm-build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  name: ${{ matrix.crate }}
                  path: crates/${{ matrix.crate }}
            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"
                  registry-url: "https://registry.npmjs.org"
            - name: Publish ${{ matrix.crate }}
              working-directory: crates/${{ matrix.crate }}/pkg
              run: npm publish --provenance
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    publish-jsr:
        if: startsWith(github.ref, 'refs/tags/v')
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        strategy:
            matrix:
                crate: *all_crates
        needs: wasm-build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  name: ${{ matrix.crate }}
                  path: crates/${{ matrix.crate }}
            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"
                  registry-url: "https://registry.npmjs.org"
            - name: Publish ${{ matrix.crate }}
              working-directory: crates/${{ matrix.crate }}/pkg
              run: npx jsr publish --allow-dirty

    publish-github:
        if: startsWith(github.ref, 'refs/tags/v')
        runs-on: ubuntu-latest
        permissions:
            packages: write
        strategy:
            matrix:
                crate: *all_crates
        needs: wasm-build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  name: ${{ matrix.crate }}
                  path: crates/${{ matrix.crate }}
            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"
                  registry-url: "https://npm.pkg.github.com"
            - name: Publish ${{ matrix.crate }}
              working-directory: crates/${{ matrix.crate }}/pkg
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    publish-github-release:
        if: startsWith(github.ref, 'refs/tags/v')
        runs-on: ubuntu-latest
        permissions:
            contents: write
        strategy:
            matrix:
                crate: *all_crates
        needs: wasm-build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  name: ${{ matrix.crate }}
                  path: crates/${{ matrix.crate }}
            - name: Package ${{ matrix.crate }}
              working-directory: crates/${{ matrix.crate }}/pkg
              run: npm pack
            - name: Release
              uses: softprops/action-gh-release@69320dbe05506a9a39fc8ae11030b214ec2d1f87
              with:
                  files: |
                      crates/*/pkg/*.tgz
                      crates/*/pkg/*.wasm
