name: Test

on:
    push:
        branches:
            - "*"
    pull_request:
        types: ["opened", "reopened", "synchronize"]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
    cancel-in-progress: ${{ github.ref_name != 'main' }}

env:
    CARGO_INCREMENTAL: 0
    CARGO_TERM_COLOR: "always"
    DIFF: 0
    RUST_LOG: "off"

jobs:
    test:
        name: Test on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
        steps:
            - name: Enable long paths on Windows
              if: runner.os == 'Windows'
              run: git config --global core.longpaths true
            - uses: actions/checkout@v6
            - uses: taiki-e/install-action@v2
              with:
                  tool: dprint,taplo,just
            - run: just check
            - run: just test-rust

    audit:
        name: Audit
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: taiki-e/install-action@v2
              with:
                  tool: cargo-audit
            - run: cargo audit

    wasm-build:
        name: Wasm build
        runs-on: ubuntu-latest
        strategy:
            matrix:
                crate:
                    - "biome_fmt"
                    - "graphql_fmt"
                    - "json_fmt"
                    - "malva_fmt"
                    - "markup_fmt"
                    - "oxc_fmt"
                    - "web_fmt"
        steps:
            - uses: actions/checkout@v6
            - uses: taiki-e/install-action@v2
              with:
                  tool: wasm-pack,just
            - name: Build ${{ matrix.crate }} wasm
              run: just build ${{ matrix.crate }}
            - name: Package ${{ matrix.crate }}
              working-directory: crates/${{ matrix.crate }}/pkg
              run: npm pack
            - name: Upload ${{ matrix.crate }}
              uses: actions/upload-artifact@v7
              with:
                  name: ${{ matrix.crate }}
                  path: |
                      crates/${{ matrix.crate }}/pkg
                      crates/${{ matrix.crate }}/README.md

    node-test:
        runs-on: ubuntu-latest
        needs: wasm-build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  path: crates
            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"
            - run: node --test crates/**/test_node/*.mjs

    deno-test:
        runs-on: ubuntu-latest
        needs: wasm-build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  path: crates
            - uses: denoland/setup-deno@v2
              with:
                  deno-version: 2.x
            - run: deno test --allow-read --parallel "crates/**/test_deno/*"

    bun-test:
        runs-on: ubuntu-latest
        needs: wasm-build
        continue-on-error: true
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  path: crates
            - uses: oven-sh/setup-bun@v2
              name: Install bun
            - run: bun test crates/**/test_bun
